{% extends "base.html" %}
<head>
    <style>
        table, th, td {
            text-align: center;
            border: 1px solid black;
        }
    </style>
</head>
{% block title %}Results{% endblock %}
{% block body %}
    <table style="width:85%">
        <tr>
            <th>id</th>
            <th>tweet_id</th>
            <th>screen_name</th>
            <th>text</th>
            <th>response</th>
        </tr>
        {% for tweet in json_data %}
            <tr>
                <td>{{ tweet.id }}</td>
                <td>{{ tweet.tweet_id }}</td>
                <td>{{ tweet.screen_name }}</td>
                <td>{{ tweet.text }}</td>
                <td>{{ tweet.response }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}