{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block head %}
    <style>
        table, th, td {
            text-align: center;
            border: 1px solid black;
        }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }

        th, td {
            padding: 10px;
        }
    </style>
{% endblock %}
{% block body %}
    <div>
        <h1 class="main">
            Results for "{{ sn }}":
        </h1>
    </div>
    <div>
        <table class="center">
            <tr>
                <th>ID</th>
                <th>Tweet ID</th>
                <th>Username</th>
                <th>Text</th>
                <th>Bot Response</th>
            </tr>
            {% for tweet in json_data %}
                <tr>
                    <td>
                        {{ tweet.id }}
                    </td>
                    <td>
                        <a href="https://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.tweet_id }}">
                            {{ tweet.tweet_id }}
                        </a>
                    </td>
                    <td>
                        <a href="https://twitter.com/{{ tweet.screen_name }}">
                            {{ tweet.screen_name }}
                        </a>
                    </td>
                    <td>
                        {{ tweet.text }}
                    </td>
                    <td>
                        {{ tweet.response }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}